#landing-page-main-header {
  position: relative; }

.landing-page-menu {
  background-color: transparent; }

.landing-page-menu-item {
  background-color: transparent;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 0 0 1px 0;
  height: auto;
  line-height: 50px;
  margin: 0 0 0 0;
  padding: 0 0 0 10px; }

.landing-page-menu-item.expandable:hover {
  cursor: pointer; }

.landing-page-menu-item:hover h1 {
  color: #a5c468; }

.landing-page-menu-item-open {
  background-color: #a5c468;
  color: #ffffff; }

.landing-page-menu-item-open .landing-page-menu-item-header h1, a {
  color: #ffffff; }

.landing-page-menu-item-open h1 {
  color: #ffffff; }

.landing-page-description {
  background-color: transparent;
  /*#ffffff;*/
  padding: 10px 10px 10px 10px;
  position: relative; }

.landing-page-description h2 {
  font-weight: normal;
  margin-bottom: 0; }

.stripe-top {
  background-color: #C9DDA1;
  height: 4px;
  margin: 0 0 3px 0;
  width: 100%; }

.stripe-bottom {
  background-color: #B0C586;
  height: 7px;
  margin: 0 0 3px 0;
  width: 100%; }

.circle {
  border-radius: 50%;
  position: absolute; }

.circle-1 {
  background-color: #C3CBB3;
  height: 5px;
  right: 25px;
  top: 10px;
  width: 5px; }

.circle-2 {
  background-color: #C9DDA1;
  height: 10px;
  right: 10px;
  top: 15px;
  width: 10px; }

.circle-3 {
  background-color: #B0C586;
  height: 9px;
  right: 15px;
  top: 30px;
  width: 9px; }

.landing-page-menu-item-expanded {
  display: none; }

.landing-page-header {
  position: relative; }

.landing-page-header h1 {
  color: #858585;
  /*color: #ffffff;*/
  font-weight: normal;
  font-size: 28px;
  margin: 20px 0 10px 0; }

.landing-page-menu-item-header {
  display: inline-block;
  max-width: 75%; }

.landing-page-menu-item-header h1 {
  color: #858585;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 0 0; }

.landing-page-org-menu-item-header h1 {
  color: #858585;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 0 0; }

.landing-page-menu-item .hcgw-btn {
  float: right;
  margin: 10px 10px 0 0; }

.landing-page-menu-item-site-list li {
  height: 32px;
  line-height: 32px;
  margin-top: 5px; }

.landing-page-menu-item-site-list a {
  color: #858585;
  text-decoration: none; }

.landing-page-menu-item-site-list a:hover {
  text-decoration: none; }

.circle-holder {
  display: inline-block;
  height: 10px;
  margin: 0 0 0 0;
  width: 10px; }

.list-item-circle {
  background-color: #a5c468;
  border-radius: 50%;
  display: inline-block;
  height: 100%;
  width: 100%; }

.landing-welcome-image {
  left: 50%;
  margin-left: -630px;
  position: absolute;
  top: 0;
  width: 1260px;
  z-index: -3; }

#your-sites {
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-top: 20px;
  min-height: 300px; }

#welcome-message {
  color: #747474;
  width: 90%; }

#welcome-message-container {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px 0 10px 0;
  min-height: 260px;
  padding: 20px; }

#welcome-message-container p {
  color: #434343; }

#org-landing-header h1 {
  color: #747474; }

html {
  background: url(../img/hg-bg-green.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media only screen and (max-width: 768px) {
  html {
    background: none; } }
#wrapper {
  background-color: transparent; }

.aui body {
  background-color: transparent; }

.landing-org-container {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 20px; }

#welcome-logo {
  background: url("../img/srvlogo.png") no-repeat;
  background-size: 90%;
  width: 90%;
  height: 300px; }