.hcgw-dockbar-header-main {
  background-color: #ffffff; }

.hcgw-dockbar-header-stripe {
  background-color: #a5c468;
  height: 8px; }

ul.hcgw-dockbar-header-menus {
  height: 62px;
  margin: 0 20px 0 20px;
  overflow: visible; }

.hcgw-dockbar-header-menus li {
  display: inline-block; }

.hcgw-dockbar-header-menus .hcgw-dockbar-item {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #9c9c9c;
  height: 50px;
  line-height: 50px;
  margin: 0 20px 0 20px;
  max-width: 200px;
  min-width: 75px;
  text-overflow: ellipsis;
  padding: 5px 10px 5px 10px;
  position: relative;
  /*width: 75px;*/
  width: auto;
  z-index: 1; }

.hcgw-dockbar-header-menus .hcgw-dropdown:hover {
  color: #a5c468;
  cursor: pointer; }

.hcgw-dockbar-header-menus #hcgw-logo {
  width: 100px; }

.hcgw-dockbar-item ul {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #ffffff;
  display: none;
  left: -1px;
  margin: 0 0 0 0;
  min-width: 85px;
  position: absolute;
  top: 63px;
  width: 200px; }

.hcgw-dockbar-item ul li {
  color: #ffffff;
  display: block;
  padding: 5px 10px 5px 10px;
  /*z-index: 10;*/ }

.hcgw-dockbar-item ul li a {
  /* color: inherit;*/
  color: #ffffff; }

.hcgw-dockbar-item ul a:hover {
  text-decoration: none; }

.hcgw-dockbar-item ul li a {
  display: block; }

.hcgw-dockbar-item ul a:hover {
  background-color: #c9dda1;
  color: #C9DDA1;
  display: block;
  /* z-index: 10;*/ }

.right-element {
  float: right; }

.hcgw-dockbar-item .selected-menu-element {
  background-color: #a5c468;
  border-color: #a5c468;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  color: #ffffff; }

.hcgw-dockbar-item.selected-menu-element {
  background-color: #a5c468;
  border-color: #a5c468;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  color: #ffffff; }

.hcgw-dockbar-item.selected-menu-element:hover {
  color: #ffffff; }

#hcgw-user-menu {
  width: 135px; }

/* Mobile menu */
#hcgw-mobile-menu {
  background-color: transparent;
  border-color: transparent;
  float: right;
  display: none;
  position: relative;
  width: auto; }

.hcgw-mobile-menu-active {
  color: #a5c468; }

#hcgw-mobile-menu-icon {
  font-size: 25px; }

#hcgw-mobile-dropdown-menu {
  background-color: #a5c468;
  border-width: 0;
  display: none;
  height: auto;
  right: 0;
  padding: 5px 5px 5px 5px;
  position: absolute;
  top: 69px;
  /*width: 130px;*/
  width: 250px;
  z-index: 1; }

#hcgw-mobile-dropdown-menu li {
  background-color: #a5c468;
  color: #ffffff;
  display: block;
  font-size: 20px;
  /*padding: 5px 5px 5px 5px;*/
  padding: 10px 10px 10px 10px; }

#hcgw-mobile-dropdown-menu li ul {
  border-width: 0;
  display: block;
  margin: 0 0 0 0;
  position: static;
  width: auto; }

#hcgw-mobile-dropdown-menu li ul li:hover {
  background-color: #c9dda1; }

#hcgw-mobile-dropdown-menu li ul a {
  font-size: 20px;
  text-decoration: none; }

/* Modal */
#hcgw-user-panel-modal {
  height: 90%;
  left: 5%;
  margin: 0 auto 0 auto;
  top: 5%;
  width: 90%; }

#hcgw-user-account-iframe {
  width: 100%;
  height: 1000px; }

#hcgw-user-panel-modal-body {
  height: 1000px; }

#dockbar-faded-backdrop {
  background-color: #000000;
  display: none;
  filter: Alpha(opacity=80);
  height: 100px;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3; }

.hcgw-dockbar-page-info-container {
  background-color: #c9dda1;
  color: #ffffff;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 60px; }

.hcgw-dockbar-page-info-container ul {
  margin: 0 0 0 0; }

.hcgw-dockbar-page-info-container ul li {
  display: inline-block; }

/* Media queries */
@media only screen and (max-width: 900px) {
  .hcgw-dockbar-header-menus .hcgw-dockbar-item {
    margin: 0 5px 0 5px;
    padding: 5px 5px 5px 5px; } }
@media only screen and (max-width: 710px) {
  .hcgw-dockbar-header-menus .hcgw-dockbar-item.right-element {
    display: none; }

  #hcgw-mobile-menu {
    display: inline-block; } }